server_host = ldap://127.0.0.1/
search_base = ou=domains,dc={{ server.domain.split('.')[0] }},dc={{ server.domain.split('.')[1] }}
version = 3
bind = no
query_filter = (&(ObjectClass=dNSDomain)(dc=%s))
result_attribute = dc
